.detailPage {
  margin: 0 10vh;

  .activityDetail {
    display: flex;
    margin: 5vw 0;
    height: 90%;
    flex-wrap: wrap;

    .activityImgContainer {
      width: 750px;
      height: 410px;
      padding: 10px;
      border: 5px solid black;
      border-radius: 10px;
      box-shadow: 10px 10px  black;
    }

    .activityImg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .detailText {
      margin-left: 5vw;

      .underpart {
        margin-top: 100px;
      }
    }
  }
}
