.detailPage {
  width: 100%;

  .breadCrumb {
    margin-left: 20px;
  }

  .activityDetail {
    display: flex;
    justify-self: center;
    margin: 5vw 5vw 300px;

    // width: 100vw;
    max-height: 410px;
    flex-wrap: wrap;

    .activityImgContainer {
      width: 80vw;
      max-width: 750px;
      height: 54vw;
      max-height: 410px;
      padding: 10px;
      border: 5px solid black;
      border-radius: 10px;
      box-shadow: 10px 10px  black;
      margin-bottom: 20px;

      .img {
        width: 100%;
        height: 100%;
      }
    }

    .detailText {
      margin: 1vw 5vw;
      width: 80vw;
      max-width: 400px;

      .underpart {
        margin-top: 100px;
      }

      .button {
        margin-top: 50px;
        margin-left: 300px;
      }
    }
  }
}
