.dropDownStyle {
  border: 2px black solid;
  border-radius: 8px;
  padding: 20px;
  display: flex;

  .menuContainer {
    width: 230px;

    .dropDownTitle {
      color: black;
      font-weight: bold;
      margin-left: 0;
    }

    .dropDownItemContainer {
      margin-top: 10px;
      height: 222px;
      display: flex;
      width: 230px;
      flex-direction: column;
      align-items: center;
      overflow: auto;

      .noLogin {
        width: 230px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .noLoginText{
          font-size: 8px;
          color: rgb(175, 175, 175);
          cursor: default;
        }
      }
    }
  }
}