.loginContainer {
  margin-left: 20px;

  .buttonStyle {
    border: 2px black solid;
    color: black;
  }

  .buttonStyle:hover {
    border: 2px black solid;
  }

  .loginInputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .userSelect {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .text {
        display: flex;
      }
    }
  }
}
