@font-face {
    font-family: "Pacifio-1";
    src: url("./source/font/Pacifico/Pacifico-1.ttf");
}

::-webkit-scrollbar-thumb{
    width: 8px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

::-webkit-scrollbar{
    width:6px;
    height: 6px;
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-button{
    display: none;
}

::-webkit-scrollbar-track{
    display: none;
}
